@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <title>Assignment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/css/about.css" />
    <link type="text/css" rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />



</head>
<body>
    <body>
        <div class="top">


            <div class="logoback">
                <a href="@Url.Action("Index", "Home")">
                    <img class="logo" src="~/images/MR.png">
                </a>
            </div>
        </div>

        <nav class="my-nav navbar navbar-expand-md navbar-primary ">
            <div class="clearfix">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("NoticeBoard", "Home")">Notice Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Academics", "Home")">Academics</a>
                    </li>
                    <li class=" nav-item">
                        @{if (Session["fname"] == null)
                            {
                                <a class="nav-link" href="@Url.Action("LoginForm", "Home")">My Profile</a>
                            }
                            else
                            {
                                <a class="nav-link" href="@Url.Action("Profile", "Home" )">My Profile</a>
                            } }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacts</a>
                    </li>

                </ul>

            </div>
        </nav>

        <div class="back">

            <img class="d-block w-100" style="opacity:.8;width:100%;height:100%;" src="~/images/12.jpg" alt="First">



        </div>
        <br>
        <br>
        <div class="container tag">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a style="display:inline-block; color:black;" href="home.php">
                            <h4> Home</h4>
                        </a>
                        <h4 style="display:inline-block;"> / </h4>
                        <a style="display:inline-block;color:black;" href="about.php">
                            <h4> About </h4>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <br><br>
        <div class="container topback">
            <div class="row">
                <div class="col-sm-8">
                    <p class="prinsp12">Our school is committed to developing ethical person of action.</p>
                    <p class="prinsp1">
                        Through academic, civic, team and individual pathways, our girls develop valuable leadership skills. Performing local and global community service enables girls to experience the diversity of the world around them in real life
                        situations and creates the foundations of knowledge they will carry with them into the next phase of their lives.
                    </p>
                </div>
                <div class="col-sm-4" style="border-style:outset;">

                    <h5> Establishment:	2008</h5><br>
                    <h5> EIIN: 5055837</h5><br>

                    <h5> Scholarship: Available</h5>

                </div>
            </div>

        </div>

        <br>


        <div class="backabout">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="margin-top:5%;color:blue;"> Mission </h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 prinsp">

                        <p class="prinsp1">
                            The mission of our school is to foster the national development process through the creation of a centre of excellence in baasic education that is responsive to society's needs,
                            and able to develop creative leaders. It actively contributes to learning and the creation of knowledge.
                        </p>
                    </div>
                    <div class="col-md-6 prin">
                        <img class="principal" src="~/images/about_back.jpg"></img>
                    </div>
                </div>

            </div>
        </div>
        <div class="backabout1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="margin-top:5%;color:blue;"> Goal </h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 prinsp">

                        <p class="prinsp1">
                            The goal of the University is to provide an excellent broad-based education with a focus on mental development for students,
                            in order to equip them with the knowledge and skills necessary for leading the country in its quest for development. Along with this, the School provides an environment for teacher development to ensure a dynamic teaching environment.
                            Teachers will be provided with an environment
                            in which they can further their teaching-learning abilities and contribute to the creation of new knowledge by developing and using their skills.
                        </p>
                    </div>
                    <div class="col-md-6 prin">
                        <img class="principal" src="~/images/scholar.jpg"></img>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <div class="footclass">
            <div class="container">
                <div class="row">


                    <a style="margin-left:43%;margin-top:2%;" href="@Url.Action("Contact", "Home")">
                        <span class="fa fa-phone" aria-hidden="true" style="margin-top:10%;font-size:40px; color:white;"></span>
                        <span class="label">+88 08624 56038</span>
                    </a>
                    <a style="margin-left:5%;margin-top:2%;" href="https://www.google.com.au/maps/place/24%C2%B031&#39;49.8%22N+92%C2%B001&#39;58.4%22E/4024.530488,92.0307083,17z/data=!3m1!4b1!4m9!1m2!2m1!1sM.R+international+academy,kulaura!3m5!1s0x0:0x0!7e2!8m2!3d24.5304877!4d92.0328972?hl=en">

                        <span class="fa fa-map" aria-hidden="true" style="margin-top:10%;font-size:40px; color:white;"></span>
                        <span style="margin-top:5px;font-size:20px;color:white;display: block;vertical-align: middle;">MAP</span>
                    </a>

                </div>
                <div class="row">
                    <h4 style="color:white">_________________________________________________________________________________________________________________</h4>
                </div>

            </div>
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h4 style="color:white;text-align:center;">
                            M.R INTERNATIONAL ACADEMY<h4>
                                <h6 style="color:white;text-align:center;">128,Sadekpur Road,Kulaura,Sylhet|+88 08624 56038<h6>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12">
                        <h6 style="color:white;text-align:right;margin-top:4%;">&copy; 2018 M.R International Academy, All Rights Reserved</h6>
                    </div>
                </div>



            </div>

        </div>




        <script src="js/home.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/about.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>




