@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <title>Assignment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/css/home.css" />
    <link type="text/css" rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />



</head>
<body>

    <div class="top">


        <div class="logoback">
            <a href="@Url.Action("Index", "Home")">
                <img class="logo" src="~/images/MR.png">
            </a>
        </div>
    </div>

    <nav class="my-nav navbar navbar-expand-md navbar-primary ">
        <div class="clearfix">
            <button class="navbar-toggler navbutton" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="fa fa-bars"></span>
            </button>
        </div>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home") ">Home</a>
                </li>

                <li class=" nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("NoticeBoard", "Home")">Notice Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Academics", "Home")">Academics</a>
                </li>
                <li class=" nav-item">
                    @{if (Session["fname"] == null) {
                    <a class="nav-link" href="@Url.Action("LoginForm", "Home")">My Profile</a>
                        }
                        else {
                    <a class="nav-link" href="@Url.Action("Profile", "Home" )">My Profile</a>
                            } }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacts</a>
                </li>

            </ul>

        </div>
    </nav>


    <div id="carouselExampleControls" class="my-carousel carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            <li data-target="#carouselExampleControls" data-slide-to="4"></li>
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" id="slider">
                <!-- Indicators-->
                <img class="d-block w-100" style="opacity:.8;" alt="First" src="~/images/1.jpg" />
            </div>

            <div class="carousel-item" id="slider">
                <!-- Indicators-->
                <img class="d-block w-100" style="opacity:.8;" alt="First" src="~/images/2.jpg" />
            </div>

            <div class="carousel-item" id="slider">
                <!-- Indicators-->

                <img class="d-block w-100" style="opacity:.8;" alt="First" src="~/images/3.jpg" />
            </div>

            <div class="carousel-item" id="slider">
                <!-- Indicators-->
                <img class="d-block w-100" style="opacity:.8;" alt="First" src="~/images/4.jpg" />
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev butt" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" style="color:blue;" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="fa fa-chevron-right" style="color:blue;" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="parallax">
        <br>

        <br>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    @{if (Session["fname"] == null)
                        {
                            <div class="hoverbox" style="cursor: pointer;" onclick="window.location='@Url.Action("LoginForm", "Home")'" />
                        }
                        else
                        {
                            <div class="hoverbox" style="cursor: pointer;" onclick="window.location='@Url.Action("Profile", "Home")'" />
                        } }
                    
                    <div class="imagebox">
                        <img style="height:100% !important;width:100% !important;" src="~/images/profilehover.png" alt="Avatar" class="image" style="width:100%">
                    </div>
                    <br>
                    <div style="text-align:center;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;font-weight:bold;">
                        <h4>My Profile</h4>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="hoverbox" style="cursor: pointer;" onclick="window.location='http://localhost/assignment3/notice.php';">
                    <div class="imagebox">
                        <img style="height:100% !important;width:100% !important;" src="~/images/noticehover.png" alt="Avatar2" class="image" style="width:100%">
                    </div>
                    <br>
                    <div style="text-align:center;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;font-weight:bold;">
                        <h4>Notice Board</h4>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class=" hoverbox" style="cursor: pointer;" onclick="window.location='@Url.Action("About", "Home")';">
                    <div class="imagebox">
                        <img style="height:100% !important;width:100% !important;" src="~/images/schoolhover.jpg" alt="Avatar2" class="image" style="width:100%">
                    </div>
                    <br>
                    <div style="text-align:center;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;font-weight:bold;">
                        <h4>About Us</h4>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="funtop" style="	font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;color:black;">Founder's Message</h1>
                <hr>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container" style="border:1px solid purple;">

        <div class="row">
            <div class="col-md-6 prin">
                <img class="principal" src="~/images/principal1.jpg" />
            </div>
            <div class="col-md-6 prinsp">
                <h5 class="prinsp1head">I feel privileged to lead such an exciting and vibrant school, which offers great opportunities for the young people of Bangladesh.</h5>
                <p class="prinsp1">
                    We offer our students the best possible opportunities to become confident, thoughtful young people who are prepared for any future challenges,
                    in an exciting and increasingly global world.
                    At MR, we are very proud of our caring, inclusive ethos where we set high standards and expectations for our students to achieve and behave their very best.
                </p>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="funtop" style="	font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;color:black;  text-align:right;">Principal's Message</h1>

                <hr>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container" style="border:1px solid purple;">
        <div class="row">

            <div class="col-md-6 prinsp">
                <h5 class="prinsp1head">
                    Welcome to the website of M.R International Academy. If you are already a member of our school community,
                    I trust that you find our website to be a rich and useful source of information about our great school. .
                </h5>
                <p class="prinsp1">
                    If, on the other hand, this is your first introduction to our school,
                    I hope that it is the beginning of a new and lasting relationship with our community.

                    A MR education strives to develop young people of purpose, responsibility, resilience, compassion and innovation.
                </p>
            </div>
            <div class="col-md-6 prin">

                <img class="principal" src="~/images/founder.jpg" />
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="tourpart">
        <br>
        <div class="container">
            <div class="row">

                <div class="col-md-8 videopart">
                    <iframe class="youtube" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" type="text/html" src="https://www.youtube.com/embed/PiY-X4J8SOs?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/en">https://youtubeembedcode.com/en</a></small></div><div><small><a href="https://promocode.com.ph/">https://promocode.com.ph/</a></small></div><div><small><a href="https://youtubeembedcode.com/en">https://youtubeembedcode.com/en</a></small></div><div><small><a href="https://promocode.com.ph/">www://promocode.com.ph/</a></small></div><div><small><a href="https://youtubeembedcode.com/en">Learn More</a></small></div><div><small><a href="https://promocode.com.ph/">https://promocode.com.ph/</a></small></div></iframe>
                </div>
                <div class="col-md-4 writingpart">
                    <h1 class="takeatour2" style="font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">
                        Here Comes<h1>

                            <h2 class="takeatour" style="font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">
                                A Tour<h2>
                                    <h2 class="takeatour2" style="font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">of Our School<h2>
                </div>
            </div>

        </div>


    </div>
    <br><br><br>

    <br>
    <div class="footclass">
        <div class="container">
            <div class="row">


                <a style="margin-left:43%;margin-top:2%;" href="@Url.Action("Contact", "Home")">
                    <span class="fa fa-phone" aria-hidden="true" style="margin-top:10%;font-size:40px; color:white;"></span>
                    <span class="label">+88 08624 56038</span>
                </a>
                <a style="margin-left:5%;margin-top:2%;" href="https://www.google.com.au/maps/place/24%C2%B031&#39;49.8%22N+92%C2%B001&#39;58.4%22E/4024.530488,92.0307083,17z/data=!3m1!4b1!4m9!1m2!2m1!1sM.R+international+academy,kulaura!3m5!1s0x0:0x0!7e2!8m2!3d24.5304877!4d92.0328972?hl=en">

                    <span class="fa fa-map" aria-hidden="true" style="margin-top:10%;font-size:40px; color:white;"></span>
                    <span style="margin-top:5px;font-size:20px;color:white;display: block;vertical-align: middle;">MAP</span>
                </a>

            </div>
            <div class="row">
                <h4 style="color:white">_________________________________________________________________________________________________________________</h4>
            </div>

        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h4 style="color:white;text-align:center;">
                        M.R INTERNATIONAL ACADEMY<h4>
                            <h6 style="color:white;text-align:center;">128,Sadekpur Road,Kulaura,Sylhet|+88 08624 56038<h6>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <h6 style="color:white;text-align:right;margin-top:4%;">&copy; 2018 M.R International Academy, All Rights Reserved</h6>
                </div>
            </div>



        </div>

    </div>

    </div>
    <script src="~/js/home.js"></script>
    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>




</body>
</html>
