
@{
    ViewBag.Title = "LoginForm";
}


@model SDProject.Models.Login



<!DOCTYPE html>

<html>
<head>
    <title>Assignment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />



</head>

<body>



    <div class="loginBackground">


        <div class="logback2">

            <br><br>


                <div class="container">
                    <div class="logoback">
                        <a href="@Url.Action("Index", "Home")">
                            <img class="logo" src="~/images/MR.png">
                        </a>
                    </div>
                    <br>
                    <div class="errordiv" style="">
                     
                    </div>
                   
                    <form class="signUpContainer" method="post" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="input-group">
                                <span class="input-group-addon" style="color:white;"><i class="fa fa-user"></i></span>
                                <input style="margin-left:20px;" id="signUpUserName" type="text" class="form-control" name="email" placeholder="Email" value="@Request["email"]" />


                            </div>
                        </div>


                        @Html.ValidationMessageFor(model => model.email, "", new { style = "margin-left:20px;margin-bottom=20px;", @class = "text-danger" })

                        <div class="row">
                            <div class="input-group">
                                <span class="input-group-addon" style="color:white;"><i class="fa fa-lock"></i></span>
                                <input style="margin-left:20px;" id="signUpPassword" type="password" class="form-control" name="signUpPassword" placeholder="Password" />

                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.password, "", new { style = "margin-left:20px;margin-bottom=20px;", @class = "text-danger" })
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary btn-block " name="login">Log In</button>
                                <br>
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="row">

                            <h6 class="already2">New User?</h6>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 mar" ">

                                <a href="@Url.Action("SignUpPage", "Home")" class="btn btn-info btn-block signupbutton" role="button">Sign Up</a>
                                <br>
                            </div>
                            <div class="col-3"></div>

                        </div>
                    </form>

                </div>


            </div>

        </div>


        <script src="~/js/jquery.min.js"></script>

        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>




    </body>
</html>


