
@{
    ViewBag.Title = "Profile";
}
@model IEnumerable<SDProject.Models.Results>


<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link type="text/css" rel="stylesheet" href="~/css/home1.css" />
    <link type="text/css" rel="stylesheet" href="~/css/profile.css" />
    <link type="text/css" rel="stylesheet" href="~/css/footer.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <div class="parallax1">
        <div class="top">


            <div class="logoback">
                <a href="@Url.Action("Index", "Home")">
                    <img class="logo" src="~/images/MR.png">
                </a>
            </div>
        </div>

        <nav class="my-nav navbar navbar-expand-md navbar-primary ">
            <div class="clearfix">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notice.php">Notice Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="academics.php">Academics</a>
                    </li>
                    <li class=" nav-item">
                        @{if (Session["fname"] == null)
                            {
                                <a class="nav-link" href="@Url.Action("LoginForm", "Home")">My Profile</a>
                            }
                            else
                            {
                                <a class="nav-link" href="@Url.Action("Profile", "Home")">My Profile</a>
                            } }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacts</a>
                    </li>

                </ul>

            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="float:right;margin-top:90px;">
                        <h6 style="display:inline-block;font-weight:bold;">Logged In As </h6>
                        <label style="font-weight:bold;display:inline-block; color:blue;">@Session["fname"] @Session["lname"] </label>

                        <form style="display:inline-block;" class="Check" method="post" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-info btn-sm " name="submitbutton" value="logout">Log Out</button>
                        </form>
                    </div>
                </div>

            </div>
            <br><br>
            <div class="row">


                <div class="col-md-8">
                    <br>
                    <h4 style="display:inline-block;float:left;font-weight:bold;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">Examination Results</h4>
                    <br>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <form style="margin-top:32px;" method="post" autocomplete="off">
                                    @Html.AntiForgeryToken()
                                    <div class="form-inline">
                                        <label style="color:#AE04CC;font-weight:bold;" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" for="sel1">Class:</label>
                                        <select style="" class="form-control col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" name="Class">
                                            <option>Play Group</option>
                                            <option>Nursery</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <label style="color:#AE04CC;font-weight:bold;" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2" for="sel1">Term:</label>
                                        <select style="" class="form-control col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" name="term">

                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>

                                        </select>
                                        <div style="text-align:centre; margin-top:10px;margin-bottom:10px;" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                            <button type="submit" class="form-control btn btn-success btn-sm " name="submitbutton" value="show">Show</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <table width='100%' border='4' color='blue'>
                                    <tr>
                                        <th>Subject</th>
                                        <th>Marks</th>
                                        <th>Grades</th>
                                    </tr>
                                    @{if (Session["table"] == "true")
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Subject)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Marks)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Grade)
                                                    </td>
                                                </tr>
                                                }

                                            }
                                        }



                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 problock">
                    <br>
                    <br>
                    <div class="imgblock">
                        <img id="img1" runat="server" src="~/passport/@Session["image"]">
                    </div>
                    <br><br>
                    <div>
                        <h5 style="display:inline-block;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">Student ID : </h5>
                        <label style="font-weight:bold;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">@Session["id"]</label>
                    </div>
                    <br>
                    <div>
                        <h5 style="display:inline-block;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">Name : </h5>
                        <label style="font-weight:bold;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">@Session["fname"] @Session["lname"]</label>
                    </div>
                    <br>
                    <div>
                        <h5 style="display:inline-block;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">Date of Birth : </h5>
                        <label style="font-weight:bold;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">@Session["dob"]</label>
                    </div>
                    <br>
                    <div>
                        <h5 style="display:inline-block;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">Sex : </h5>
                        <label style="font-weight:bold;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">@Session["sex"]</label>
                    </div>
                    <br>
                    <div>
                        <h5 style="display:inline-block;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">Class : </h5>
                        <label style="font-weight:bold;font-family: Comic Sans MS, cursive, sans-serif; font-style: italic;">@Session["class"]</label>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="footclass">
        <div class="container">
            <div class="row">


                <a style="margin-left:43%;margin-top:2%;" href="@Url.Action("Contact", "Home")">
                    <span class="fa fa-phone" aria-hidden="true" style="margin-top:10%;font-size:40px; color:white;"></span>
                    <span class="label">+88 08624 56038</span>
                </a>
                <a style="margin-left:5%;margin-top:2%;" href="https://www.google.com.au/maps/place/24%C2%B031&#39;49.8%22N+92%C2%B001&#39;58.4%22E/4024.530488,92.0307083,17z/data=!3m1!4b1!4m9!1m2!2m1!1sM.R+international+academy,kulaura!3m5!1s0x0:0x0!7e2!8m2!3d24.5304877!4d92.0328972?hl=en">

                    <span class="fa fa-map" aria-hidden="true" style="margin-top:10%;font-size:40px; color:white;"></span>
                    <span style="margin-top:5px;font-size:20px;color:white;display: block;vertical-align: middle;">MAP</span>
                </a>

            </div>
            <div class="row">
                <h4 style="color:white">_________________________________________________________________________________________________________________</h4>
            </div>

        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h4 style="color:white;text-align:center;">
                        M.R INTERNATIONAL ACADEMY<h4>
                            <h6 style="color:white;text-align:center;">128,Sadekpur Road,Kulaura,Sylhet|+88 08624 56038<h6>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <h6 style="color:white;text-align:right;margin-top:4%;">&copy; 2018 M.R International Academy, All Rights Reserved</h6>
                </div>
            </div>



        </div>

    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>


